<template>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Hello World
          </div>
          <div class="card-body">
            <div id="tree" ref="tree">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            dd
          </div>
          <div class="card-body">
            dd
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Category',
  data: function () {
    return {
      categoryList: [{
        HOEAT_BEST: {
          categoryCode: 'HOEAT_BEST',
          categoryName: 'BEST',
          categoryDescription: '',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 0,
          childType: 'food'
        },
        MC01: {
          categoryCode: 'MC01',
          categoryName: '안주류',
          categoryDescription: '',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 13,
          isDisplay: 1,
          childType: 'category'
        },
        MC02: {
          categoryCode: 'MC02',
          categoryName: '주류/음료',
          categoryDescription: '',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 23,
          isDisplay: 1,
          childType: 'category'
        },
        jpnqrag9: {
          categoryCode: 'jpnqrag9',
          categoryName: '서비스',
          categoryDescription: '',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 99999,
          isDisplay: 0,
          childType: 'category'
        },
        MC03: {
          categoryCode: 'MC03',
          categoryName: '치즈&후라이',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 10,
          isDisplay: 1,
          childType: 'food'
        },
        MC04: {
          categoryCode: 'MC04',
          categoryName: '탕&전골',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 20,
          isDisplay: 1,
          childType: 'food'
        },
        MC05: {
          categoryCode: 'MC05',
          categoryName: '볶음&그릴',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 30,
          isDisplay: 1,
          childType: 'food'
        },
        MC06: {
          categoryCode: 'MC06',
          categoryName: '샐러드&스페셜',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 40,
          isDisplay: 1,
          childType: 'food'
        },
        MC12: {
          categoryCode: 'MC12',
          categoryName: '간편메뉴',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 50,
          isDisplay: 1,
          childType: 'food'
        },
        MC07: {
          categoryCode: 'MC07',
          categoryName: '식사류&사리',
          categoryDescription: '',
          parentCategory: 'MC01',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 60,
          isDisplay: 1,
          childType: 'food'
        },
        MC08: {
          categoryCode: 'MC08',
          categoryName: '주류',
          categoryDescription: '',
          parentCategory: 'MC02',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 18,
          isDisplay: 1,
          childType: 'food'
        },
        MC09: {
          categoryCode: 'MC09',
          categoryName: '음료',
          categoryDescription: '',
          parentCategory: 'MC02',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 28,
          isDisplay: 1,
          childType: 'food'
        },
        MC13: {
          categoryCode: 'MC13',
          categoryName: '마카오칵테일',
          categoryDescription: '',
          parentCategory: 'MC02',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 46,
          isDisplay: 1,
          childType: 'food'
        },
        MC10: {
          categoryCode: 'MC10',
          categoryName: '세트',
          categoryDescription: '',
          parentCategory: 'MC02',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 56,
          isDisplay: 1,
          childType: 'food'
        },
        MC14: {
          categoryCode: 'MC14',
          categoryName: '샴페인',
          categoryDescription: '',
          parentCategory: 'MC02',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 58,
          isDisplay: 1,
          childType: 'food'
        },
        jpnqrnjx: {
          categoryCode: 'jpnqrnjx',
          categoryName: '서비스(왕대박)',
          categoryDescription: '',
          parentCategory: 'jpnqrag9',
          showDisabled: false,
          storeBranchUid: 0,
          storeUid: 2,
          useFlag: 1,
          categoryOrder: 0,
          isDisplay: 1,
          childType: 'food'
        }
      }]
    }
  },
  mounted: function () {
  }
}
</script>
