<template>
  <div id="container-fluid">
    <div id="ui-view">
      <div>
        <div class="animated fadeIn" style="background: white">
          <div class="card">
            <div class="card-body">
              <!-- order statistics -->
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">운영 매장수</small>
                    <br>
                    <strong class="h4">5</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">이번주 주문 처리량</small>
                    <br>
                    <strong class="h4">1,273</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">주문 처리량</small>
                    <br>
                    <strong class="h4">387</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              브랜드 정보
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="form-group">
                    <label class="col-form-label" for="appendedInput">브랜드명</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input class="form-control" id="username" type="text" name="username" placeholder="Username" autocomplete="name">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="form-group">
                    <label class="col-form-label" for="appendedInput">전화번호</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-phone"></i>
                        </span>
                      </div>
                      <input class="form-control" id="username" type="text" name="username" placeholder="PhoneNumber" autocomplete="PhoneNumber">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="appendedInput">주소</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-address-book"></i>
                        </span>
                      </div>
                      <input class="form-control" id="username" type="text" name="username" placeholder="Address" autocomplete="Address">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="form-group">
                    <label class="col-form-label" for="appendedInput">브랜드 관리자</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-id-card-o"></i>
                        </span>
                      </div>
                      <input class="form-control" id="username" type="text" name="username" placeholder="Admin" autocomplete="Admin">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 매장 옵션 -->
              <div class="card">
                <div class="card-header">
                  Store Option
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2" v-for="option in storeOption" v-bind:key="option.fieldName">
                      <div class="form-group">
                        <label class="col-form-label" for="appendedInput">{{option.fieldTitle}}</label>
                        <div class="input-group" v-if="option.fieldType === 'boolean'">
                          <label class="switch switch-label switch-pill switch-outline-primary-alt">
                            <input class="switch-input" type="checkbox" checked="" v-model="storeOption[option.fieldName]">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" v-if="storeOption[posUse] === true">
                <div class="card-header">
                  포스 종류
                </div>
                <div class="card-body">
                  <div class="row">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Store Status</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Store Name</th>
                    <th scope="col">Master</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Test Store1</td>
                    <td>Tester</td>
                    <td>Mapo-gu, Seoul</td>
                    <td>Used</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Test Store2</td>
                    <td>Tester 2</td>
                    <td>Mapo-gu, Seoul</td>
                    <td>Used</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Test Store3</td>
                    <td>Tester 3</td>
                    <td>Mapo-gu, Seoul</td>
                    <td>Used</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Test Store4</td>
                    <td>Tester 4</td>
                    <td>Mapo-gu, Seoul</td>
                    <td>Unused</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from '@/lib/axios'
export default {
  name: 'Detail',
  data: function () {
    return {
      storeOption: {
        posUsed: false
      }
    }
  },
  methods: {
    getStoreOption: function () {
      let url = `/admin/api/storeOption/available`
      axios.get(url).then(response => {
        this.storeOption = response.data.result.availableStoreOptions
        this.storeOption.forEach(item => {
          if (item.fieldType === 'enum') {
            item.defaultValue = item.defaultValue.split('|')
          }
        })
      })
    }
  },
  mounted: function () {
    this.getStoreOption()
  }
}
</script>
