<template>
  <div id="container-fluid">
    <div id="ui-view">
      <div class="card">
        <div class="card-body">
          <form class>
            <h4>브랜드 등록</h4>
            <p class="text-muted">새로운 브랜드를 등록합니다.</p>
            <p class="text-muted" style="padding-left: 15px">브랜드 명</p>
            <div role="group" class="input-group mb-3 col-lg-3 col-sm-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="icons cui-user"></i>
                </div>
              </div>
              <input type="text" placeholder="BrandName" autocomplete="BrandName" class="form-control form-control" v-model="brandName">
            </div>
            <p class="text-muted" v-if="!validate.brandName" style="color: red !important">필수 정보입니다.</p>
            <p class="text-muted" style="padding-left: 15px">전화번호</p>
            <div role="group" class="input-group mb-3 col-lg-3 col-sm-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-phone"></i>
                </div>
              </div>
              <input type="text" placeholder="PhoneNumber" autocomplete="PhoneNumber" class="form-control form-control" v-model="phoneNumber">
            </div>
            <p class="text-muted" v-if="!validate.phoneNumber" style="color: red !important">필수 정보입니다.</p>
            <p class="text-muted" style="padding-left: 15px">비밀번호</p>
            <div role="group" class="input-group mb-3 col-lg-3 col-sm-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <input type="password" placeholder="Password" autocomplete="new-password" class="form-control form-control" aria-autocomplete="list" v-model="password">
            </div>
            <p class="text-muted" style="padding-left: 15px">비밀번호 재확인</p>
            <p class="text-muted" v-if="!validate.password" style="color: red !important">필수 정보입니다.</p>
            <div role="group" class="input-group mb-4 col-lg-3 col-sm-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <input type="password" placeholder="Repeat password" autocomplete="new-password" class="form-control form-control" v-model="passwordCheck">
            </div>
            <p class="text-muted" v-if="checkPassword" style="color: red !important">비밀번호가 일치하지 않습니다.</p>
            <button type="button" class="btn btn-success btn-block mb-4 col-lg-3 col-sm-12" @click="submitData()">Create brand</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Join',
  data: function () {
    return {
      brandName: null,
      phoneNumber: null,
      password: null,
      passwordCheck: null,
      validate: {
        brandName: true,
        phoneNumber: true,
        password: true
      }
    }
  },
  methods: {
    submitData: function () {
      if (this.brandName === '' || this.brandName === null) {
        this.validate.brandName = false
      } else {
        this.validate.brandName = true
      }
      if (this.phoneNumber === '' || this.phoneNumber === null) {
        this.validate.phoneNumber = false
      } else {
        this.validate.phoneNumber = true
      }
      if (this.password === '' || this.password === null) {
        this.validate.password = false
      } else {
        this.validate.password = true
      }
      if (this.validate.brandName === true && this.validate.phoneNumber === true && this.validate.password === true) {
        this.$toasted.show(`브랜드 등록 완료: ${this.brandName}`, {
          theme: 'toasted-primary',
          position: 'top-right',
          duration: 3000,
          action: [
            {
              text: '닫기',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          ]
        })
        history.back()
      }
    }
  },
  computed: {
    checkPassword () {
      if (this.password !== this.passwordCheck) {
        if ((this.password === '' || this.password === null) && (this.passwordCheck === '' || this.passwordCheck === null)) {
          return false
        } else {
          return true
        }
      } else {
        return false
      }
    }
  }
}
</script>
