<template>
  <div id="container-fluid">
    <div id="ui-view">
      <div class="animated fadeIn" style="background: white">
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav">
              <li class="nav-item" v-for="category in oneLevelCategory" v-bind:key="category.categoryCode">
                <a class="nav-link" @click="navClick(category.categoryCode, category.childType, category.parentCategory)" :class="{ active : topCategoryValue === category.categoryCode }">
                  {{category.categoryName}}
                </a>
              </li>
              <li class="nav-item" v-for="category in topCategory" v-bind:key="category.categoryCode">
                <a class="nav-link" @click="categoryClick(category.categoryCode, category.childType, category.parentCategory)" :class="{ active : topCategoryValue === category.categoryCode }">
                  {{category.categoryName}}
                </a>
              </li>
            </ul>
            <ul class="nav">
              <li class="nav-item" v-for="category in subCategory" v-bind:key="category.categoryCode">
                <a class="nav-link" @click="navClick(category.categoryCode, category.childType, category.parentCategory)" :class="{ active : subCategoryValue === category.categoryCode }">
                  {{category.categoryName}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="sidenav" class="sidenav" style="display: none">
          <div class="sidenav-button-location">
            <button type="button" class="btn btn-outline-primary" @click="menuSave('new')"> 저장 </button>
            <button type="button" class="btn btn-outline-danger"> 취소 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from '@/lib/axios'
import _ from 'lodash'
export default {
  name: 'Menu',
  data: function () {
    return {
      categories: {},
      topCategory: {},
      subCategory: {},
      oneLevelCategory: {},
      topCategoryValue: '',
      subCategoryValue: '',
      menus: {}
    }
  },
  methods: {
    navClick: function (categoryCode, childType, parentCategoryCode) {
      if (childType === 'food' && parentCategoryCode) {
        let localMenuUrl = `/data/v2/categories/${categoryCode}/menus`
        axios.get(localMenuUrl).then(response => {
          this.menus = response.data.result.menus
          this.subCategoryValue = categoryCode
        })
      } else if (childType === 'food') {
        this.topCategoryValue = categoryCode
        let localMenuUrl = `/data/v2/categories/${categoryCode}/menus`
        axios.get(localMenuUrl).then(response => {
          this.menus = response.data.result.menus
          this.subCategoryValue = categoryCode
        })
        this.subCategory = null
      } else {
        this.topCategoryValue = categoryCode
        this.subCategory = _.filter(this.categories, {'childType': 'food', 'parentCategory': this.topCategoryValue})
        this.menus = null
      }
    },
    categoryLoad: function () {
      let localCategoryLoadUrl = `/data/v2/categories`
      axios.get(localCategoryLoadUrl, {params: {all: true}}).then(response => {
        if (response.data.status.code === '200') {
          this.categories = response.data.result.categories
          this.topCategory = _.filter(this.categories, function (o) { return !o.parentCategory && o.childType === 'category' })
          this.subCategory = _.filter(this.categories, {'childType': 'food', 'parentCategory': this.topCategoryValue})
          this.oneLevelCategory = _.filter(this.categories, function (o) { return !o.parentCategory && o.childType === 'food' })
        }
      })
    },
    menuDetail: function () {
      document.getElementById('sidenav').style.display = 'block'
    },
    menuSave: function (type = 'new') {
      let toastMessage = null
      if (type === 'new') {
        toastMessage = '신규 메뉴 저장 완료'
      } else {
        toastMessage = '메뉴 구성 변경 완료'
      }
      this.$toasted.show(toastMessage, {
        theme: 'toasted-primary',
        position: 'bottom-right',
        duration: 3000,
        action: [
          {
            text: '닫기',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        ]
      })
      document.getElementById('sidenav').style.display = 'none'
    }
  },
  created: function () {
    this.categoryLoad()
  }
}
</script>
<style>
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 350px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(61, 61, 61);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: white;
  }
  .sidenav .sidenav-button-location {
    position: absolute;
    right: 0;
    bottom: 0;
  }
</style>
