<template>
  <div id="container-fluid">
    <div id="ui-view">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <h5 style="margin-top: 5px">브랜드 관리</h5>
            </div>
            <div class="col-sm-6 col-md-6">
              <router-link class="btn btn-outline-dark" to="/brand/join" style="float: right">Join</router-link>
            </div>
          </div>
        </div>
        <div class="card-body">
          <brand-list></brand-list>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BrandList from '@/components/ui/common/BrandList.vue'
export default {
  name: 'Brand',
  components: {
    'brand-list': BrandList
  }
}
</script>
