<template>
  <div id="container-fluid">
    <div id="ui-view">
      <div>
        <div class="animated fadeIn" style="background: white">
          <div class="card">
            <div class="card-body">
              <!-- server status -->
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-warning">
                    <small class="text-muted">API 서버 1</small>
                    <br>
                    <strong class="h4">Unknown</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-success">
                    <small class="text-muted">API 서버 2</small>
                    <br>
                    <strong class="h4">Working</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-danger">
                    <small class="text-muted">게임 API 서버</small>
                    <br>
                    <strong class="h4">Error</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-danger">
                    <small class="text-muted">게임 WS 서버</small>
                    <br>
                    <strong class="h4">Error</strong>
                  </div>
                </div>
              </div>
              <!-- order statistics -->
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">이번주 주문 처리량</small>
                    <br>
                    <strong class="h4">153,230</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">주문 처리량</small>
                    <br>
                    <strong class="h4">18,237</strong>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">매장수</small>
                    <br>
                    <strong class="h4">50</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Dashboard'
}
</script>
