<template>
  <div class="app flex-row align-items-center pace-done">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icons cui-user"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icons cui-lock-locked"></i>
                    </span>
                  </div>
                  <input class="form-control" type="password" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" type="button" @click="hoeatLogin()">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Login',
  data: function () {
    return {
    }
  },
  methods: {
    hoeatLogin: function () {
      sessionStorage.setItem('userSession', JSON.stringify({accessToken: 'zxcvbnm'}))
      location.href = '/dashboard'
    }
  }
}
</script>
