<template>
  <div>
    <app-header></app-header>
    <div class="app-body">
      <app-navbar></app-navbar>
      <main class="main">
        <app-bread></app-bread>
        <router-view></router-view>
      </main>
    </div>
    <app-footer></app-footer>
  </div>
</template>
<script>
import Footer from '@/components/ui/Footer.vue'
import Navbar from '@/components/ui/Navbar.vue'
import Header from '@/components/ui/Header.vue'
import Breadcrumb from '@/components/ui/common/Breadcrumb.vue'
export default {
  name: 'Main',
  components: {
    'app-footer': Footer,
    'app-navbar': Navbar,
    'app-header': Header,
    'app-bread': Breadcrumb
  }
}
</script>
