<template>
  <div class="card">
    <img class="card-img-top" src="../../../assets/img/hoeat-logo-long.png" alt="brand-img">
    <div class="card-body">
      <h5 class="card-title">Brand_Name</h5>
      <div style="float: right">
        <router-link class="btn btn-outline-dark" to="/brand/detail">Manage</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BrandCard'
}
</script>
