<template>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <brand-card></brand-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <brand-card></brand-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <brand-card></brand-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <brand-card></brand-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <brand-card></brand-card>
    </div>
  </div>
</template>
<script>
import BrandCard from '@/components/ui/common/BrandCard.vue'
export default {
  name: 'BrandList',
  components: {
    'brand-card': BrandCard
  }
}
</script>
