<template>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <!-- <router-link class="router-link-exact-active open active" to="/dashboard">status</router-link> -->
      <i class="fa fa-angle-double-left" @click="historyback()" style="cursor: pointer"></i>
      {{getStatus()}}
    </li>
  </ol>
</template>
<script>
export default {
  name: 'Breadcrumb',
  methods: {
    getStatus: function () {
      let pageName = ''
      if (this.$route.name === 'Login') {
        pageName = 'Home'
      } else {
        pageName = this.$route.name
      }
      return pageName
    },
    historyback: function () {
      if (this.getStatus() !== 'Dashboard') {
        history.back()
      }
    }
  }
}
</script>
