<template>
  <div class="app" v-bind:is="currentView">
  </div>
</template>

<script>
import login from '@/components/routes/Login'
import main from '@/components/Main'
import '@coreui/coreui'
export default {
  name: 'hoeat-admin-v2',
  components: {
    'login-page': login,
    'main-page': main
  },
  data: function () {
    return {
      pageName: null
    }
  },
  methods: {
  },
  mounted: function () {
    this.pageName = this.$route.name
  },
  computed: {
    currentView: function () {
      try {
        let userSession = JSON.parse(sessionStorage.getItem('userSession'))
        if (userSession.accessToken) {
          return 'main-page'
        }
      } catch (e) {
        return 'login-page'
      }
    }
  }
}
</script>

<style lang="scss">
@import '~@coreui/coreui/scss/coreui';
@import url('https://unpkg.com/@coreui/icons/css/coreui-icons.min.css');
@import 'font-awesome/css/font-awesome.css';
</style>
