<template>
  <footer class="app-footer">
    <div>
      <a href="http://hoeat.co.kr">HOEAT ADMIN</a>
      <span>&copy; 2019 YOUNEEDBOT Corp.</span>
    </div>
    <div class="ml-auto">
      <span>Powered by</span>
      <a href="http://hoeat.co.kr">YOUNEEDBOT</a>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer'
}
</script>
