<template>
  <header class="app-header navbar">
    <a href="#" class="navbar-brand" target="_self">
      <img src="@/assets/img/hoeat-logo-long.png" width="89" class="navbar-brand-full" alt="Hoeat Logo">
      <img src="@/assets/img/hoeat-logo.png" width="30" class="navbar-brand-minimized" alt="Hoeat Logo">
    </a>
    <button display="lg" class="d-md-down-none navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button display="md" class="d-lg-none navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
    </ul>
  </header>
</template>
<script>
export default {
  name: 'Header'
}
</script>
