<template>
  <div class="sidebar sidebar-show">
    <nav class="sidebar-nav" role="navigation">
      <ul class="nav">
        <li class="nav-title">Hoeat</li>
        <li class="nav-item">
          <router-link class="nav-link" to="/dashboard" exact>
            <i class="nav-icon cui-home"></i>서비스 상태
          </router-link>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon cui-dashboard"></i> 브랜드 관리
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link class="nav-link" to="/brand" exact>
                <i class="nav-icon cui-info"></i> 기본 정보
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/brand/category" exact>
                <i class="nav-icon cui-tags"></i> 카테고리 관리
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/brand/menu" exact>
                <i class="nav-icon cui-list"></i> 메뉴 관리
              </router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="nav-icon cui-lock-unlocked"></i> 활성 / 비활성
              </a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon cui-info"></i> 특성화
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="nav-icon cui-layers"></i> 앱 레이아웃
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="nav-icon cui-cog"></i> 포스 연동
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon cui-monitor"></i>매장 관리
          </a>
        </li>
        <li class="nav-item mt-auto">
          <a class="nav-link nav-link-danger" href="#">
            <i class="nav-icon cui-info"></i> 장애 접수
          </a>
        </li>
      </ul>
    </nav>
     <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
</template>
<script>
export default {
  name: 'Navbar'
}
</script>
